.footer {
  width: 99%;
  height: 114px;
  margin-top: 324px;
  flex-shrink: 0;
  position: absolute;
  background-color: whitesmoke;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}
.footer h3{
    font-size: 35;
    display: flex;
    width: 100%;
    align-items: center; 
    justify-content: center; 
    height: 15vh; 
    margin-top: 0%;
}